$bg-color = #f8f8f8
$div-color = #f88

/*函数的默认参数*/
add(a, b)
  a + b
sub(a, b)
  a - b
add2(a, b=a)
  a + b

/*支持多个返回值*/
getWidth()
  10px 20px 30px 40px 50px

/*函数当作参数传递到新的函数*/
invoke(a, b, fn)
  fn(a, b) px
