@import './base.scss';

.container{
  width: 1000px;
  .line-no-wrap{
    @include no-wrap();
  }
  .line-wrap-3{
    @include multiEllipsis(3);
    @include opacity(0.5);
  }
  input {
    height: 40px;
    width: 200px;
    @include beauty-placeholder(25px, #eee, left)
  }
  .box {
    width: 300px;
    height: 300px;
    background: #ccc;
    @include blur(10px);
  }
  .pic-filter {
    width: 300px;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
      @include grayscale();
    }
  }
  .hover {
    @include hoverLine(2px, #40ff40);
  }
}
